/* color palette
    color: #083C64 dark ocean blue;
    color: #00BBEF NEIP blue;
    color: #5C5C5C medium gray;
    color: #8F8F8F light gray; 
    color: #2A2A2A body text dark gray;
    color: #DBCC74 light gold
    */

/* font palette
    font-family: 'Merriweather', serif;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */

/* text shadow
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    */


body{
    margin: 0px;
    padding: 0px;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 1.2em;
    color: #2A2A2A;
}

/* h1 {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 34px;
} */

#logo {
    /* background-color: #083C64; */
    text-align: center;
    padding: 2vh 10%;
}

#banner {
    background-position: 50% 100%;
    background-size: 100% 75%;
    padding: 25vh 10%;
    text-align: center;
    background-color: #083C64;
    /* display: -ms-flexbox;
    display: flex; */
}

#banner h1 {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 4em;
    text-align: center;
    line-height: 1.2em;
    /* flex: 1; */
}

/* #banner p {
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
    display: flex;
    flex: 1;
} */

#intro {
    display: flex;
    /* background-color: #083C64; */
    padding: 20vh 10%;
}

#intro p {
    flex: 1;
    line-height: 1.4em;
}


/* main body, scrollytelling part styles */
article {
    position: relative;
    padding: 0;
    max-width: 50rem;
    margin: 0 auto;
}

figure {
position: sticky; /** don't move this within the bounds of the #scrolly wrapper **/
left: 0;
width: 100%;
height: 100%;
margin: 0;
background-color: #083C64;
}

figure div.wrapper {
/** center the image in the box **/
display: flex;
justify-content: center;
}

figure img {
height: 100%;
}

figcaption {
position: relative;
top: -2.5rem;
color: white;
background-color: rgba(255, 255, 255, 0.5); 
/* opacity is the 4th parameter */
display: inline-block;
font-size: 0.75rem;
padding: 0 0.5rem;
}

.step {
filter: drop-shadow(0px 0px 8px var(--color-text));
}

.step:last-child {
margin-bottom: 0;
}

.step p {
border-radius: 0.5rem;
text-align: center;
padding: 1rem;
font-size: 1rem;
background-color: white;
margin: 0 2rem;
}

.in-between {
    padding: 12vh 10%;
    /* background-color: #083C64; */
}


/* Lol now do it again */

/* figure div.wrapper2 {
    * center the image in the box *
    display: flex;
    justify-content: center;
}

.step2 {
    filter: drop-shadow(0px 0px 8px var(--color-text));
}

.step2:last-child {
    margin-bottom: 0;
}

.step2 p {
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: white;
    margin: 0 2rem;
} */

/* try the Jsoma way */
#scrolly-2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f3f3f3;
    padding: 1rem;
  }

  #scrolly-2 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .article2 {
    position: relative;
    padding: 0 1rem;
    max-width: 10rem;
  }

  .sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    /* background-color: #8a8a8a; */
    z-index: 0;
    top: 12.5vh;
    height: 25vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/images/DSC09999.jpg');
    background-size: 100%;
  }

  .sticky-thing p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }

  .step-2 {
    margin: 0 2em 5rem 2em;
    background-color: #3b3b3b;
    color: #fff;
  }

  .step-2:last-child {
    margin-bottom: 0;
  }

  .step-2.is-active {
    background-color: goldenrod;
    color: #3b3b3b;
  }

  .step-2 p {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }

  footer {
    padding: 30vh 10%;
  }
