/* color palette
    color: #083C64 dark ocean blue;
    color: #00BBEF NEIP blue;
    color: #5C5C5C medium gray;
    color: #8F8F8F light gray; 
    color: #2A2A2A body text dark gray;
    color: #DBCC74 light gold
    */

/* font palette
    font-family: 'Merriweather', serif;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */

/* text shadow
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    */

body {
  margin: 0px;
  padding: 0px;
  display: block;
  align-items: center;
  justify-content: center;
  font-family: "Merriweather", serif;
  font-size: 1em;
  line-height: 1.2em;
  color: #2a2a2a;
}

#logo {
  text-align: center;
  padding: 2vh 10%;
}

#banner {
  background-position: 50% 100%;
  background-size: 100% 75%;
  padding: 28vh 10% 14vh 10%;
  text-align: center;
  background-color: #083c64;
  font-family: "Merriweather", serif;
  color: white;
}

#banner h1 {
  font-size: 3em;
  text-align: center;
  line-height: 1.2em;
}

#banner h2 {
  font-size: 1.6em;
  text-align: center;
  line-height: 1.4em;
}

#banner p{
  font-size: 1em;
  text-align: center;
  margin-top: 100px;
}

#intro {
  /* background-color: #083C64; */
  padding: 2vh 10%;
}

#intro p {
  line-height: 1.4em;
}

/* main body, scrollytelling part styles */
article {
  position: relative;
  padding: 0;
  max-width: 40rem;
  margin: 0 auto;
}

figure {
  position: sticky; /** don't move this within the bounds of the #scrolly wrapper **/
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #083c64;
}

figure div.wrapper {
  /** center the image in the box **/
  display: flex;
  justify-content: center;
}

figure img {
  height: 100%;
}

.step {
  filter: drop-shadow(0px 0px 8px var(--color-text));
}

.step:last-child {
  margin-bottom: 0;
}

.step p {
  border-radius: 0.3rem;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  background-color: white;
  margin: 0 2rem;
  line-height: 1.4rem;
}

.in-between {
  padding: 12vh 10%;
}

#in-between {
  padding: 30vh 10%;
}

/* FOR SCROLLY-2 */
h3 {
  text-align: left;
  color: #dbcc74;
  padding: 1.4em;
  line-height: 1.4em;
}

#scrolly-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 1rem;
}

#scrolly-2 > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.article2 {
  position: relative;
  padding: 0 1rem;
  max-width: 10rem;
  display: flex;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 1em 2em 1em 2em;
  z-index: 0;
  top: 3.8em;
  height: 80vh;
  /* Center everything inside */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('./assets/images/DSC09999.jpg'); */
  /* background-size: 100%; */
}

.step-2 {
  margin: 0 1em 1rem 2em;
  height: 50vh;
  background-color: #3b3b3b;
  color: #fff;
  border-radius: 0.3rem;
}

.step-2:last-child {
  margin-bottom: 0;
}

.step-2 p {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

.audioWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gallery {
  padding: 30vh 10%;
}

a:link {
  color: #dbcc74;
}

a:visited {
  color: #dbcc74;
}

a:hover {
  color: #00bbef;
}

#gallery {
  background-color: #dbcc74;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2.5vh 5vw;
  height: 80vh;
}

#button-list {
  border-color: #000;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* a css rule for buttons that take half the parent container, with a small margin between */
.gallery-button {
  font-family: inherit;
  text-align: center;
  border: 2px solid #000;
  width: 40vw;
  margin: 2vh 1vw;
  height: 15vh;
  font-size: 1.2rem;
  cursor: pointer;
}

#gallery-title {
  font-family: "Merriweather", serif;
  font-size: 2.5em;
  color: #2a2a2a;
  margin-bottom: 5vh;
}

footer {
  padding: 5vh 5vw;
  height: 5vh;
  text-align: center;
  background-color: #083c64;
  color: white;
  font-size: 0.9em;
}

footer p {
  margin: 0;
}
a:hover {
  color: #00bbef;
}

/* RESPONSIVE DESIGN */
@media (max-width: 700px) {
  /* MOBILE */
  #scrolly-2 {
    display: block;
  }
  .sticky-thing {
    margin: 0 0 0 0;
    top: 0em;
    height: 40vh;
    text-align: center;
    z-index: 1;
  }
  figure.nobackground {
    background-color: transparent;
  }
  #stickyImg {
    height: 100%;
  }
  #article2 {
    max-width: 30em;
    align-items: center;
    justify-content: center;
  }
  .step-2 {
    height: 35vh;
    margin: 0 3em 0 3em;
  }
  .audioWrapper {
    display: flex;
  }
}

@media (min-width: 701px) and (max-width: 1150px) {
  /* SLIGHTLY LARGER */
  #scrolly-2 {
    display: flex;
  }
  .sticky-thing {
    margin: 1em 0 0 2em;
    /* margin: 0 0 0 0; */
    top: 10em;
    height: 40vh;
    align-items: center;
    justify-content: center;
  }
  figure.nobackground {
    background-color: transparent;
  }
  #stickyImg {
    height: 100%;
  }
  #article2 {
    max-width: 40em;
    align-items: right;
    text-align: right;
  }
  .step-2 {
    height: 40vh;
    margin: 0 2em 0 2em;
  }
  .audioWrapper {
    display: flex;
  }
}
