/* color palette
    color: #DC0635;
    color: #BC945C;
    color: #392F2D;
    color: #E6DDD5; 
    color: #DCE4FC;
    color: #f3ad3d;
    color: #3d83f3;*/

/* font palette
    font-family: 'Merriweather', serif;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */

/* text shadow
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    */


body{
    margin: 0px;
    padding: 0px;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 1.4em;
    color: #2A2A2A;
}


h1 {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 34px;
}

#banner{
    background-position: 50% 100%;
    background-size: cover;
    padding: 18vh 10%;
    text-align: center;
    color: #083C64;
}

#banner h1 {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 34px;
}

#banner p {
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
}

/* img {
    max-width: 100%;
    height: auto;
} */

.intro {
    display: flex;
    background-color: #083C64;
}

.intro p {
    flex: 1;
    margin: 50rem;
}


/* main body, scrollytelling part styles */
article {
    position: relative;
    padding: 0;
    max-width: 50rem;
    margin: 0 auto;
}

figure {
position: sticky; /** don't move this within the bounds of the #scrolly wrapper **/
left: 0;
width: 100%;
height: 100%;
margin: 0;
background-color: #083C64;
}

figure div.wrapper {
/** center the image in the box **/
display: flex;
justify-content: center;
}

figure img {
height: 100%;
}

/* figcaption {
position: relative;
top: -2.5rem;
color: white;
background-color: rgba(255, 255, 255, 0.5);  */
/* opacity is the 4th parameter */
/* display: inline-block;
font-size: 0.75rem;
padding: 0 0.5rem;
} */

.step {
filter: drop-shadow(0px 0px 8px var(--color-text));
}

.step:last-child {
margin-bottom: 0;
}

.step p {
border-radius: 0.5rem;
text-align: center;
padding: 1rem;
font-size: 1.5rem;
background-color: white;
margin: 0 2rem;
}
  


